*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgb(102, 215, 145) 50%,
        green 50%

    );
}
.clock{
    background: rgb(248, 230, 29);
    height: 320px;
    width: 320px;
    position: absolutet;
    transform: translate(50%, 50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 15px solid rgb(7, 26, 240);
    box-sizing: content-box;
    box-shadow:15px 15px 15px  black;
    inset: 0 0 30px black;
}
img{
    position:relative;
    height: 320px;
    width: 320px;

}

.hand{
    position: absolute;
    background-color: black;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}

.hour{
    height: 70px;
    width: 10px;
    top: 100px;
}

.minute{
    height: 90px;
    width: 5px;
    top: 80px;
}